[submodule "Dependencies/CMSIS-DSP"]
	path = Dependencies/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
[submodule "Dependencies/AudioFile"]
	path = Dependencies/AudioFile
	url = https://github.com/adamstark/AudioFile.git
[submodule "Dependencies/Math"]
	path = Dependencies/Math
	url = https://github.com/Rernamp/Math.git
[submodule "Dependencies/LFramework"]
	path = Dependencies/LFramework
	url = https://github.com/L-proger/LFramework.git
